.venv
.venv.*
__pycache__/
*.pyc

# Variables de entorno y Jupyter
.env
.ipynb_checkpoints/

# Salidas de modelos/datos
output/
!output/dataset_preds_sample.json
!output/output_robutness_sample.json
# Regla para la carpeta data:
# 1. Ignoramos todo el contenido de la carpeta
data/*
# 2. Creamos la excepción para los archivos que quieres mantener
!data/dataset_sample.json
#!data/validation_dataset_sample.json

# Ocultamos la evaluación y generación de datos del participante
scripts/
data/validation_dataset.json
